* {
    background: #c62d70;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator {
    justify-content: center;
    align-content: center;
    margin: 5rem auto;
    width: 25%;
    min-height: 100vh;
}
#buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* cursor: pointer; */
    /* height:5em ; */
    /* border: none; */

}
button {
    cursor: pointer;
    height: 3rem;
}
#buttons > button:hover {
    background-color: #eee2e2;
}
.operator {
    /* background: #918b8b; */
    color: #918b8b;
    font-size: larger;
    font-weight: bolder;
}
.numbers {
    font-weight: bolder;
    font-size: larger;
}
.equals {
background: #918b8b;
color: #333030;
grid-column: span 2 ;
}
#display {
    background: #f2a1c7;
    height: 4em;
    /* text-align: right;
    justify-content: space-around;
   padding: 4px; */
    grid-column: 1 / -1;
    /* background-color: rgba(0, 0, 0, .75); */
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    font-size: 1.44rem;
    word-wrap: break-word;
    word-break: break-all;
    color: #010101, 0.3;
}
/* .displayfirst {
    font-size: 1.2rem;
    background:#dd8eb3 ;
   
}
.displaysecond {
    
    background:#b36b8b;
    color: #010101;
} */
